#bodypic{ 
  background-repeat: no-repeat;
  background-size: cover;
}

  #loginbox{
    margin-top: 5%;
    margin-right: 3%;
    float: right; 
    border:2px solid rgb(58, 91, 88); 
    padding: 2%;
    width: 20%;
    text-align: right;
    
  }
  table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    background-color: rgb(236, 234, 220);
}
th, td{
    padding: 10px 20px;
    border: 1px solid #000;
}

